<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item me-2">
                    <a href="index.html" class="btn btn-outline-secondary" type="button">Home</a>
                </li>
                <li class="nav-item me-2">
                    <a href="games.html" class="btn btn-outline-secondary" type="button">Games</a>
                </li>
                <li class="nav-item me-2">
                    <a href="about.html" class="btn btn-outline-secondary" type="button">About</a>
                </li>
                <li class="nav-item me-2">
                    <a href="add-game.html" class="btn btn-outline-secondary" type="button">Add Game</a>
                </li>
                <li class="nav-item me-2">
                    <a href="sign-in.html" class="btn btn-primary" type="button">Sign In</a>
                </li>
                <li class="nav-item me-2">
                    <a href="sign-in.html" class="btn btn-danger" type="button">Sign Out</a>
                </li>
                <li class="nav-item me-2">
                    <a href="import-game.html" class="btn btn-outline-secondary" type="button">Import Game</a>
                </li>

            </ul>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>